.leave {
  border: 1px solid black;
  padding: 20px;
  position: relative;
  bottom: 70vh;
  background-color: white;
  z-index: 6;
  border-radius: 13px;
}
.submitButton {
  padding: 5px 20px;
  border: 1px solid black;
  color: rgb(0, 0, 0);
  border-radius: 13px;
}
.submitButton:hover {
  background-color: #4b3075;
  border: none;
  color: white;
}
