.eventDiv{
    width: 100%;
    margin: 5px;
}
table{
    padding: 10px;
}
td,th{
    padding: 10px;
    /* border: 1px solid black; */
    box-shadow: 2px 2px 10px rgb(0, 0, 0,0.3);
}
.deleteButton{
    background-color: #4b3075;
    color: white;
    border-radius: 5px;
    font-weight: 600;
}
.deleteButton:hover{
    cursor: pointer;
    background-color: rgb(128, 127, 127);
    border: none;
    box-shadow: 5px 5px 10px rgb(139, 139, 139);

}
.addEventBtn{
    background-color: #4b3075;
    color: white;
    font-weight: 900;
    border-radius: 5px;
    text-decoration: none;
    padding: 5px;
}
.addEventBtn:hover{
    text-decoration: none;
    color: white;
}