.calenderHeader {
  /* background-color: rgb(154, 153, 153); */
  padding: 10px;
}
.weekDays {
  padding: 10px;
  /* background-color: rgb(20, 123, 241); */
  box-shadow: 0 4px 6px rgb(0,0,0,0.1);
  display: flex;
}
.dayBox {
  width: 14.28%;
  font-size: 15px;
  
}
.dateBox {

  /* gap: 0.5%; */
  margin-top: 5px;
  margin-left: 5px;
}
.dateCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 !important;
  
  width: 14.15%;
  height: 14.28vh;
  /* border: 1px solid black; */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  /* border-radius: 23px; */
  /* margin-bottom: 4px; */
}
.disabledDate{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 !important;
  width: 14.15%;
  height: 14.28vh;
  background-color: rgb(240, 237, 237);
  box-shadow: 0 4px 6px rgb(0, 0, 0 , 0.3);

}
.disabledDate div{
  font-size: 2rem;
  color: rgb(143, 141, 141);
  

}
.disabledDate li{
  z-index: -2;
  list-style: none;
  height: 5px;
  width: 100%;
  background-color: rgb(0, 73, 0);

}
.dateCard li{
  /* position: relative;
  bottom: 40px; */
  z-index: -2;
  list-style: none;
  height: 5px;
  width: 100%;
  background-color: rgb(0, 73, 0);
 
}
.dateCard div{
  font-size: 2rem;
  position: relative;
  z-index: 5;
}
.currentDate {
  border: 2px solid rgb(198, 8, 8);
  background-color: rgb(198, 8, 8, 0.1);
}
.endDate{
  border: 5px solid rgb(0, 73, 0);
  
}
.startDate{
  border: 5px solid rgb(11, 81, 212);
  
}
@media (max-width: 550px) {
  .dayBox {
    font-size: 8px;
  }
  .dateCard {
    height: 8vh;
  }
  .dateBox {
    border-radius: 13px;
  }
}
